body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(145deg, #D32F2F, #FFEB3B); /* تدرج لوني ناري */
    color: #000; /* لون النص */
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

#gameBoard {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    gap: 10px;
    margin: 20px 0;
}

.game-cell {
    width: 120px;
    height: 120px;
    background-color: #FFF3E0; /* خلفية الخلايا بلون كريمي فاتح */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    color: #5D4037; /* لون النص داخل الخلايا */
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* إضافة ظل للخلايا */
}

.game-cell:active {
    background-color: #FFC107; /* تغيير لون الخلية عند اللمس إلى ذهبي */
}

.control-panel, .slider-container, button {
    margin: 10px;
}

#difficultySlider {
    width: 80%;
}

button {
    padding: 15px 30px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: #D32F2F; /* خلفية الزر بلون أحمر غامق */
    color: #FFFFFF; /* لون النص أبيض */
    cursor: pointer;
    transition: background-color 0.3s;
}

button:active {
    background-color: #B71C1C; /* لون الزر عند اللمس */
}
